@import './var.styl';
@import './mixin.styl';
// layout
.flex
  display: flex
.text-center
  text-align: center
.overflow-hidden-1
  overflow-hidden(1)
.overflow-hidden-2
  overflow-hidden(2)
.overflow-hidden-3
  overflow-hidden(3)
.overflow-hidden-4
  overflow-hidden(4)
.overflow-hidden-5
  overflow-hidden(5)
// padding & margin
.pd-a
  padding: $padding-md
.pd-top
  padding-top: $padding-md
.pd-bottom
  padding-bottom: $padding-md
.pd-left
  padding-left: $padding-md
.pd-right
  padding-right: $padding-md

.mg-a
  margin: $margin-md
.mg-top
  margin-top: $margin-md
.mg-bottom
  margin-bottom: $margin-md
.mg-left
  margin-left: $margin-md
.mg-right
  margin-right: $margin-md
